@import "tailwindcss";

@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: font1;
  src: url(./assets/fonts/file1.woff2);
}
@font-face {
  font-family: font2;
  src: url(./assets/fonts/file2.woff2);
}
@font-face {
  font-family: font3;
  src: url(./assets/fonts/file3.woff2);
}
@font-face {
  font-family: font4;
  src: url(./assets/fonts/file4.woff2);
}
@font-face {
  font-family: font5;
  src: url(./assets/fonts/file5.woff2);
}
@font-face {
  font-family: font6;
  src: url(./assets/fonts/file6.woff2);
}

.shadow-4-sided {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.3);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#page1-in {
  position: relative;
  perspective: 900px;
}

#section2 {
  position: relative;
  perspective: 3000px;
}
#tiltDiv {
  width: fit-content;
}
#section2 .rotateText {
  transform-origin: 100% 70%;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  #page5 .main,
  #page6 .main,
  #page7 .main {
    padding: 10px 20px !important;
  }
  #page9 h2 {
    font-size: 3.5rem !important;
  }
}
@media (min-width: 821px) and (max-width: 1023px) {
  #tiltDiv h1,
  #tiltDiv h2 {
    font-size: 8rem;
    line-height: 9vh;
  }
  #banner {
    padding: 0 20px 0 0 !important;
  }
  #section3 .aboutWord {
    font-size: 15rem;
  }
  #section3 .title {
    font-size: 3rem;
  }
  #section3 p {
    font-size: 1.5rem;
    padding-left: 30vw;
  }
  #section4 h1,
  #page8 h1 {
    font-size: 20rem !important;
  }
  #page3 span {
    font-size: 12rem;
    line-height: 2;
  }
  #page3 h2 {
    font-size: 2.5rem;
    line-height: 3.5vh;
  }
  #page3 p {
    font-size: 1.5rem;
    padding-left: 30vw;
  }
  #page5 h1,
  #page6 h1,
  #page7 h1 {
    font-size: 12rem;
    line-height: 1;
  }
  #page5 h2,
  #page6 h2,
  #page7 h2 {
    font-size: 2.8rem;
    line-height: 1;
  }
  #page5 p,
  #page6 p,
  #page7 p {
    font-size: 2rem;
  }
  #page9 h2 {
    line-height: 1;
  }
  #page9 p {
    font-size: 1.5rem !important;
  }
  .page10In h1,
  .page11In h1 {
    font-size: 8rem;
  }
  .page10In h2,
  .page11In h2 {
    font-size: 3rem;
  }
  .page10In p,
  .page11In p {
    font-size: 2rem;
    line-height: 1;
  }
  .page10In a,
  .page11In a {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 40px !important;
  }
  #page12 h1 {
    font-size: 15rem;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  #tiltDiv h1,
  #tiltDiv h2 {
    font-size: 6rem;
    line-height: 9vh;
  }
  #banner {
    padding: 0 20px 0 0 !important;
  }
  #section3 .aboutWord {
    font-size: 13rem;
  }
  #section3 .title {
    font-size: 3rem;
  }
  #section3 p {
    font-size: 1.2rem;
  }
  #section4 h1,
  #page8 h1 {
    font-size: 16rem !important;
  }
  #page3 span {
    font-size: 12rem;
    line-height: 1.2;
  }
  #page3 h2 {
    font-size: 2.5rem;
    line-height: 3.5vh;
  }
  #page3 p {
    font-size: 1.5rem;
    padding-left: 20vw;
  }
  #page5 .main,
  #page6 .main,
  #page7 .main {
    padding: 10px !important;
  }
  #page5 h1,
  #page6 h1,
  #page7 h1 {
    font-size: 12rem;
    line-height: 1;
  }
  #page5 h2,
  #page6 h2,
  #page7 h2 {
    font-size: 3rem;
    line-height: 1;
  }
  #page5 p,
  #page6 p,
  #page7 p {
    font-size: 2rem;
    line-height: 1.2;
  }
  #page9 h2 {
    font-size: 5rem !important;
    line-height: 0.8 !important;
  }
  #page9 p {
    font-size: 1.rem !important;
  }
  #page10,
  #page11 {
    padding: 10px;
  }
  .page10In h1,
  .page11In h1 {
    font-size: 7rem;
  }
  .page10In h2,
  .page11In h2 {
    font-size: 2.5rem;
    line-height: 1;
    margin-top: 10px;
  }
  .page10In p,
  .page11In p {
    font-size: 1.5rem;
    line-height: 1;
  }
  .page10In a,
  .page11In a {
    font-size: 1.7rem;
    margin-top: 40px;
  }
  #page12 h1 {
    font-size: 10rem;
  }
}
@media (max-width: 540px) {
  .hireMeDiv {
    padding: 20px;
  }
  .hireMeText {
    font-size: medium;
  }
  #page1 {
    padding: 10px;
  }
  #page1-in {
    padding: 20px;
  }
  .logo {
    height: 50px;
  }
  #tiltDiv h1,
  #tiltDiv h2 {
    font-size: 4rem;
    line-height: 9vh;
  }
  .p1Bottom {
    padding: 0 200px 20px 20px !important;
  }
  .p1Bottom h3,
  .p1Bottom h4 {
    font-size: 1.2rem;
  }
  #banner {
    padding: 0 10px 0 0 !important;
  }
  #banner img {
    width: 60px;
  }
  #section3 .aboutWord {
    font-size: 8rem;
  }
  #section3 .title {
    font-size: 2rem;
  }
  #section3 p {
    font-size: 0.8rem;
  }
  #section4 h1,
  #page8 h1 {
    font-size: 12rem !important;
  }
  #page3 span {
    font-size: 6rem;
    line-height: 1.2;
  }
  #page3 h2 {
    font-size: 1.7rem;
    line-height: 1;
  }
  #page3 p {
    font-size: 1rem;
    padding-left: 5vw;
  }
  #page5 h1,
  #page6 h1,
  #page7 h1 {
    font-size: 8rem;
  }
  #page5 h2,
  #page6 h2,
  #page7 h2 {
    font-size: 1.5rem;
  }
  #page5 p,
  #page6 p,
  #page7 p {
    font-size: 1.3rem;
    line-height: 1.2;
  }
  #page9 {
    padding: 5px;
  }
  #page9 h2 {
    font-size: 4rem !important;
    line-height: 0.8 !important;
  }
  #page9 p {
    font-size: 1rem !important;
  }
  #page10,
  #page11 {
    padding: 10px;
  }
  .page10In,
  .page11In {
    border: 15px solid white;
    padding: 10px !important;
  }
  .page10In h1,
  .page11In h1 {
    font-size: 4rem;
  }
  .page10In h2,
  .page11In h2 {
    font-size: 1.7rem;
    line-height: 1;
    margin-top: 10px;
  }
  .page10In p,
  .page11In p {
    font-size: 1.2rem;
    line-height: 1;
  }
  #page12 h1 {
    font-size: 8rem;
  }
}
@media (max-width: 480px) {
  .hireMeDiv {
    padding: 20px 15px;
  }
  .hireMeText {
    font-size: small;
  }
  #tiltDiv h1,
  #tiltDiv h2 {
    line-height: 8vh !important;
  }
  .p1Bottom {
    padding: 0 25px 15px 25px !important;
  }
  #section3 {
    padding: 10px !important;
  }
  #section3 .aboutWord {
    font-size: 8rem !important;
  }
  #section4 span {
    font-size: 12rem;
  }
  #page3 span {
    font-size: 7rem;
    line-height: 1;
  }
  #page3 h2 {
    font-size: 2rem;
    line-height: 1;
  }
  #page3 p {
    font-size: 1.2rem;
    padding-left: 5vw;
  }
  #page5 .main,
  #page6 .main,
  #page7 .main {
    padding: 10px !important;
  }
  #page9 {
    padding: 10px;
  }
  #page9 h2 {
    font-size: 3.5rem !important;
    line-height: 1;
  }
  #page9 h3 {
    font-size: 2.5rem !important;
  }
  #page10,
  #page11 {
    padding: 10px;
  }
  .page10In h1,
  .page11In h1 {
    font-size: 4rem 
  }
  #page12 {
    padding: 13px;
  }
  #page12 h1 {
    font-size: 8rem;
  }
}
@media (max-width: 380px) {
  #tiltDiv h1,
  #tiltDiv h2 {
    font-size: 3.5rem !important;
  }
  .p1Bottom h3,
  .p1Bottom h4 {
    font-size: 0.8rem !important;
  }

  #section3 .aboutWord {
    font-size: 8rem;
  }
  #section3 .title {
    font-size: 2rem;
  }
  #section3 p {
    font-size: 0.8rem;
  }
  #section4 h1,
  #page8 h1 {
    font-size: 8rem !important;
  }
  #page3 span {
    font-size: 5rem !important;
  }
  #page3 h2 {
    font-size: 1.5rem !important;
  }
  #page3 p {
    font-size: 0.9rem !important;
  }
  #page5 h1,
  #page6 h1,
  #page7 h1 {
    font-size: 5rem !important;
  }
  #page5 h2,
  #page6 h2,
  #page7 h2 {
    font-size: 1.3rem !important;
  }
  #page5 p,
  #page6 p,
  #page7 p {
    font-size: 1rem !important;
    line-height: 1.2;
  }
  #page9 {
    padding: 5px !important;
  }
  #page9 h2 {
    font-size: 2.5rem !important;
    line-height: 1 !important;
  }
  #page9 p {
    font-size: 0.8rem !important;
    line-height: 1.2;
  }
  .page10In,
  .page11In {
    border: 10px solid white;
  }
  .page10In h1,
  .page11In h1 {
    font-size: 3rem;
  }
  .page10In h2,
  .page11In h2 {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 10px;
  }
  .page10In p,
  .page11In p {
    font-size: 1rem;
    line-height: 1;
  }
  .page10In a,
  .page11In a {
    font-size: 0.8rem;
    margin-top: 20px;
    line-height: 1;
  }
  #page12 h1 {
    font-size: 7rem;
  }
  #page12 span {
    font-size: 0.8rem;
  }
}
